.conteiner {
    max-width: 1700px;
    margin: 0 auto;
}

.wrapper-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-table-cities {
    width: 800px;
    margin: 0 auto;
}

.th-city-id {
    width: 35px;
}

.th-city-name {
    width: 55%;
}

.content-table-cities tr th {
    font-family: 'Bitter', serif;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 10px 10px 15px;
    text-align: left;
	background: linear-gradient(to right, rgb(236, 160, 46),rgb(214, 98, 31));
	border-radius: 10px;
    margin-right: 5px;
}

.content-table-cities tr td {
    font-family: 'Bitter', serif;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 10px 10px 15px;
    text-align: left;
	background: linear-gradient(to right, rgba(253, 180, 71, 0.648),rgba(250, 155, 13, 0.648));
	border-radius: 5px;
    border:1px solid rgb(15, 11, 2);
    box-sizing: border-box;
}   

.content-table-cities tr button a{
    font-family: 'Bitter', serif;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    }

.button-add {
    width: 285px;
    height: 47px;
    border-radius: 10px;
    background-color: rgba(27, 242, 19, 0.5);
    cursor: pointer;
    transition: all 0.8s ease;        
    margin: 0px 5px 0px 0px;
} 
    
.button-add:hover {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background: rgba(27, 242, 19, 1);
}

.button-update {
    width: 140px;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(244, 248, 20, 0.5);
    cursor: pointer;
    transition: all .8s ease;
    margin-right: 5px;
} 

.button-update:hover {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background: rgb(255, 255, 0);
}

.button-delete {
    width: 140px;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(242, 38, 19, 0.5);
    cursor: pointer;
    transition: all 0.8s ease;
} 

.button-delete:hover {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background: rgba(242, 38, 19, 1);
}
