label, button {
    font-family: 'Bitter', serif;
    font-size: 22px;
    font-weight: 400;
}

.container-form {
    width: 470px;
    background: linear-gradient(to right, rgb(255, 183, 77),rgb(255, 167, 38));
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 20px 1px rgba(48, 3, 3, 0.596);
    border-radius: 20px;
    border: 1px solid transparent;
    transition: 1s ease;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input, select {
    width: 330px;
    height: 35px;
    border-radius: 7px;
    font-size: 16px;
    padding-left: 10px;
    box-shadow: 0 0 15px 4px transparent;
    transition: all 1s ease;
}

.form input:focus, select:focus {
    box-shadow: 0 0 10px 3px rgba(48, 3, 3, 0.596);
}

.form-input__label {
    text-align: center;
    margin-bottom: 5px;
}

.form-section{
    margin-bottom: 15px;
}

.form-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.form-button button{
    height: 60px;
    width: 220px;
    border-radius: 10px;
    background-color: rgba(207, 250, 15, 0.897);
    cursor: pointer;
    transition: all 1s ease;
}

.form-button button:hover {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    background: rgb(136, 255, 0);
    
}