.container {
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container_form {
    width: 27%;
    background: linear-gradient(to right, rgb(255, 183, 77),rgb(255, 167, 38));
    padding: 30px;
    box-shadow: 0 0 20px 1px rgba(48, 3, 3, 0.596);
    border-radius: 20px;
    border: 1px solid transparent;
    transition: 1s ease;
}

.container_form:hover {
    border: 1px solid rgb(255, 255, 255);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_master {
    text-align: center;
    margin-bottom: 50px;
}

.form_master label{
    font-size: 22px;
    font-weight: 600;
}

.form_master p{
    font-family: 'Bitter', serif;
    font-size: 20px;
    font-style: italic;
}

.form_orderinfo {
    margin-bottom: 20px;
}

.form_orderinfo b{
    font-size: 18px;
}

.form_orderinfo span{
    font-size: 18px;
}

.form_stars {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form_button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.form_button button {
    height: 60px;
    width: 220px;
    border-radius: 10px;
    background-color: rgba(207, 250, 15, 0.897);
    cursor: pointer;
    transition: all 1s ease;
}

.form_button button:hover {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    background: rgb(81, 255, 0);
    
}